/* Fonts import */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Roboto+Slab:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

/* Setup Variables */

:root {
/* color */
  --gray-50:rgb(124, 124, 124);
  --gray-56:rgb(56, 56, 56);
  --gray-206:rgb(206, 206, 206);

/* fonts */
  --font1: 'Open Sans', sans-serif;
  --font2:  Georgia, 'Times New Roman', Times, serif ;
  --font3: 'Roboto Slab', serif;
  --font4: 'Roboto', sans-serif;
}

/* Some basic Reset */

html {
  box-sizing: border-box;
  font-size: 62.5%; /*now 1.5rem = 15px*/
  font-family: var(--font1);
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a{
  cursor: pointer;
  color: inherit;
  list-style: inherit;
  text-decoration: inherit;
}

/* Section et footer Init */

section, footer{
  margin: 0 auto;
  padding: 70px 0; 
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Section One */
.myName{
    font-family: var(--font3);
    font-size: 5rem;
    margin: 50px 0;
}

.text-partOne{
  margin-right: 150px;
  width: 50%;
}

.inspirational-quote{
  font-size: 3rem;
  font-family: var(--font2);
}

.me-InOneSentence{
  margin: 30px 0;
  font-size: 1.6rem;
}

.my-picture{
  height: 400px;
  border-radius: 15px;
}


/* Section Two */

.partTwo{
  display: inherit;
  background-color: var(--gray-206);
  
}

table{
  margin: 30px auto;
  max-width: 800px;
  border-radius: 5px;
  border: 1px solid;
  border-collapse: collapse;
  background-color: var(--gray-50);
  text-align: center;
  font-family: var(--font1);
  font-size: 1.8rem;
  color: rgba(255, 255, 255,1);
  overflow: hidden;
}

thead, tbody, tr, th, td{
  border: 1px solid var(--gray-56);
  padding: 10px 20px; 
}

.container-hobbies{
  max-width: 100%;
  text-align: center;
  font-size: 1.7rem;
}

ul{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
li{
  margin-left: 30px;
  font-weight: 600;
}

/* Section Three */

.container-partThree{
  margin: 0 auto;
  flex-flow: column;
  align-items: flex-start;

}
.container-partThree>*{
  margin: 10px;
  font-size: 1.6rem;
  white-space: pre-line;
}

/* Footer */

Footer{
  background-color: var(--gray-206);
  height: 300px;
  padding: 0; 
  
}

.woodiens a{
  font-size: 1.6rem;
  font-weight: 600;
  color: white;
  margin: 0 15px;
  background-color: coral;
  padding: 5px 10px;
  border-radius: 5px;
  transition: all 0.4s ease-out;
}

.woodiens a:hover{
  background-color: rgb(177, 87, 55);
  border-radius: 10px;
}

.woodiens p{
  display: inline;
  font-size: 2rem;
}

.me-woodiens{
  font-size: 3rem !important;
  font-weight: 800;
  font-family: var(--font3);
  color: white;
  margin: 0 30px;
}